<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.archicontribs.form.menu.FormEditorHandler"
            id="org.archicontribs.form.showForm"
            name="showForm">
         <commandParameter
               id="org.archicontribs.form.formRank"
               name="formRank"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.archicontribs.form.selectionRank"
               name="selectionRank"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="org.archicontribs.form.menu.FormMenu"
            locationURI="popup:ArchimateDiagramEditorContextMenuProvider?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.archicontribs.form.menu.FormMenu"
            locationURI="popup:com.archimatetool.editor.treeModelView?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archicontribs.form.preferences.FormPreferencePage"
            id="org.archicontribs.form.FormPreferencePage"
            name="form plugin">
      </page>
   </extension>
</plugin>
